@import "../../styles/variables";

.form {

  &__fieldset-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__fieldset-item {
    margin-bottom: 15px;
  }
}

@media(min-width: $desktop-width) {
  .form {
    display: flex;
    align-items: flex-start;
    padding-top: 10px;

    &__fieldset-item:first-child {
      margin-bottom: 24px;
    }
  }
}