@import '../../../styles/variables';

.site-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  &__item {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    border-bottom: 1px solid $basic_black;
  }

  &__link {
    font-size: 18px;
    line-height: 33px;
    color: $basic_white;

    &:hover {
      color: darken($basic_white, 20);
    }

    &:active {
      color: darken($basic_white, 30);
    }
  }
}

@media(min-width: $tablet-width) {
  .site-list {
    display: flex;
    flex-wrap: wrap;

    &__item {
      border-bottom: none;
      border-top: none;
      padding-top: 0;
      padding-right: 43px;
      text-align: left;
    }
  }
}

@media(min-width: $desktop-width) {
  .site-list {
    &__item {
      padding-right: 80px;
    }
  }
}

