@import "../../styles/variables";

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $basic_white;
  padding: 40px 20px 20px;
  box-shadow: 0 4px 20px rgba(0, 16, 61, 0.3);
  border-radius: 8px;
  font-family: $Montserrat;

  &__close-btn {
    position: absolute;
    top: 15px;
    right: 20px;
    padding: 0;
    border: 0;
    width: 50px;
    height: 24px;
    background-color: transparent;
    cursor: pointer;
    color: $downey;

    &::before,
    &::after {
      content: "";
      position: absolute;
      display: block;
      left: 18px;
      width: 29px;
      height: 4px;
      background-color: currentColor;
      transition-duration: 0.3s
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}
