// colors
$basic_white:#ffffff;
$basic_black:#000000;
$shark: #1f2021;
$silver: #cacaca;
$concrete:#f3f3f3;
$downey: #6ebbd3;


// breakpoints
$tablet-width: 640px;
$desktop-width: 1280px;
$mobile-width-only: 639px;

//fonts

$Montserrat: "Montserrat", "Arial", sans-serif;
