@import "../../styles/variables";

.product {
    overflow: hidden;
    position: relative;
    background-color: $concrete;
    border-radius: 0 0 15px 15px;

    &__sale {
        position: absolute;
        top: 35px;
        left: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 78px;
        height: 39px;
        font-size: 16px;
        color: #fff;
        background: #e62d2d;
        border-radius: 10px;
    }
    
    &__like {
        position: absolute;
        top: 34px;
        right: 32px;
        opacity: 0.5;
        width: 50px;
        height: 50px;
        color: #fff;
        background: none;
        border: none;
        cursor: pointer;
        transition: opacity 0.2s ease-out;

        &:hover {
            opacity: 0.7;
        }

        &:active {
            opacity: 1;
        }

        &--liked {
            opacity: 1;

            &:hover {
                opacity: 1;
            }
        }
    }

    &__info {
        padding: 30px 10px;

        &-list {
            margin: 0;
            padding: 0;
            list-style-type: none;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border-left: 4px solid $downey;
            padding-left: 18px;
            margin-bottom: 20px;
        }

        &-item:not(:last-child) {
            margin-bottom: 10px;
        }

        &-value {
            display: block;
            font-size: 16px;
            font-weight: bold;
            line-height: 19px;
        }

        &-mark {
            display: block;
            font-size: 12px;
            line-height: 14px;
        }
    }

    .product__info-value--fur-color {
        font-size: 12px;
        font-weight: 400;
    }

    &__image {
        width: 100%;
        display: block;
    }
    
    &__title {
        margin: 0;
        margin-bottom: 22px;
        font-size: 24px;
        font-weight: bold;
    }
    
    &__button {
        display: block;
    }

    &__price {
        font-size: 24px;
        line-height: 30px;
        font-weight: bold;
    }
}

@media (min-width: $tablet-width) {
    .product {
        &__info {
            &-list {
                flex-direction: row;
            }
        }

        &__info-value {
            &--fur-color {
                max-width: 89px;
            }
        }
    }
}

@media (min-width: $desktop-width) {
    .product {
        &__info {
            &-list {
                flex-direction: row;
                padding-right: 60px;
            }
        }
    }
}
